.Dark {
  background-color: var(--darkBlue);
  color: var(--white);
}
.Light {
  background-color: var(--veryLightGray);
  color: var(--veryDarkBlue);
}
.Layout {
  min-width: 100vw;
  min-height: 100vh;
}
.Actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}
