.Dark {
  background-color: var(--darkBlue);
  color: var(--white);
}
.Light {
  background-color: var(--veryLightGray);
  color: var(--veryDarkBlue);
}
.CountryDetails {
  min-height: 100vh;
}
.Back {
  padding: 8px 16px;
  box-shadow: #64646f33 0px 7px 29px 0px;
  width: fit-content;
  margin: 16px;
  width: 100px;
}
.Back a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.Back i {
  display: block;
}
.Img {
  margin: 16px;
}
.Img img {
  margin-top: 20px;
  width: 100%;
}
.Details {
  margin: 16px;
}
.Details span {
  font-weight: 600;
}
.Countryname {
  font-weight: 800;
  font-size: 1.3em;
  margin-bottom: 16px;
}
.FirstDetails {
  margin-bottom: 20px;
}
.Borders {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.Bordersection {
  margin: 16px;
}
.BorderHeading {
  font-weight: 600;
  margin-bottom: 10px;
}
.BorderCountry {
  box-shadow: #64646f33 0px 7px 29px 0px;
  padding: 8px 20px;
  width: 100px;
  border-radius: 8px;
}
