.Dark {
  background-color: var(--darkBlue);
  color: var(--white);
}
.Light {
  background-color: var(--veryLightGray);
  color: var(--veryDarkBlue);
}

.Dark select {
  background-color: var(--darkBlue);
  color: var(--white);
}

.Filter select {
  cursor: pointer;
  width: 180px;
  padding: 16px;
  font-weight: bold;
  border: none;
  margin-bottom: 16px;
  box-shadow: #64646f33 0px 7px 29px 0px;
  outline: none;
  border-radius: 8px;
  border: none;
  outline: none;
}
